body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

#text {
  font-size: medium;
}

#date {
  color: gray;
}

#message {
  border: 1px solid lightgray;
  padding: 5px;
  margin: 5px 0px;
}

input {
  margin-right: 5px;
}
